/* --------------------------------------------- */
/* -------- CSS GLOBAL VARIABLES ----------------*/
/* --------------------------------------------- */
/* Basic responsive font sizes */
:root {
    /*--body-font: 'Montserrat', sans-serif;*/
    --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --big-title-font-size: 5rem;
    --big2-title-font-size: 6rem;
    --title-font-size: 4rem;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big2-title-font-size: 8rem;
        --big-title-font-size: 6.5rem;
        --title-font-size: 5.5rem;
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* Color theme */
:root {
    --white: #f8f8f8;
    --light-white: #f8f8f8b0;
    --dark-white: #c8c8c8;
    --dark-grey: #212738;
    --space-cadet: #171738;
    --crimson: #92374D;
    --black: #151924;
    --pink: #C78394;
    --nice-white: #efefef;
    --platinum: #E3E1E1;
    --white2: rgb(247, 249, 250);
    --white3: #d9d9d9;

    --logo-color: var(--crimson);
    --hover-color: var(--pink);
    --hover-color-light: rgba(146, 55, 77, 0.2);
    --background-color-one: black;
    --background-color-two: var(--black);
    --text-color: var(--white3);
    --nav-text-color: var(--white3);
    --section-border-color: var(--light-white);
    --input-bg-color: var(--dark-grey);
    --input-text-color: var(--white3);
    --input-desc-text-color: #9b9b9b;
    --text-color-btn: var(--white3);
    --update-color: var(--background-color-two);
    --hover-color-dark: var(--pink);
    --nav-active-color: var(--logo-color);
}

.theme-light {
    --hover-color: var(--pink);
    --hover-color-light: rgba(146, 55, 77, 0.2);
    --background-color-one: white;
    --background-color-two: var(--white2);
    --text-color: var(--black);
    --section-border-color: var(--crimson);
    --input-bg-color: var(--nice-white);
    --input-text-color: var(--black);
    --input-desc-text-color: #777777;
    --text-color-btn: var(--white2);
    --update-color: var(--background-color-two);
    --hover-color-dark: var(--pink);
}

.theme-dark {
    --hover-color: var(--pink);
    --hover-color-light: rgba(146, 55, 77, 0.2);
    --background-color-one: var(--black);
    --background-color-two: var(--dark-grey);
    --text-color: var(--white3);
    --section-border-color: var(--light-white);
    --input-bg-color: var(--dark-grey);
    --input-text-color: var(--white3);
    --input-desc-text-color: #9b9b9b;
    --text-color-btn: var(--white3);
    --update-color: var(--background-color-two);
    --hover-color-dark: var(--pink);
}

.theme-black {
    --hover-color: var(--pink);
    --hover-color-light: rgba(146, 55, 77, 0.2);
    --background-color-one: black;
    --background-color-two: var(--black);
    --text-color: var(--white3);
    --section-border-color: var(--light-white);
    --input-bg-color: var(--dark-grey);
    --input-text-color: var(--white3);
    --input-desc-text-color: #9b9b9b;
    --text-color-btn: var(--white3);
    --update-color: var(--background-color-two);
    --hover-color-dark: var(--pink);
}

.theme-desert {
    --hover-color: #8c5847;
    --hover-color-light: rgba(146, 55, 77, 0.2);
    --background-color-one: #ECC8AF;
    --background-color-two: #E7AD99;
    --text-color: var(--black);
    --section-border-color: var(--light-white);
    --input-bg-color: #E7AD99;
    --input-text-color: var(--white3);
    --input-desc-text-color: #6e6e6e;
    --text-color-btn: var(--white3);
    --update-color: var(--background-color-two);
    --hover-color-dark: #E7AD99;
}

@media screen and (max-width: 674px) {
    :root {
        --nav-active-color: var(--dark-grey) !important;
    }
}

/* --------------------------------------------- */
/* -------- OVERALL CSS -------------------------*/
/* --------------------------------------------- */
* {
    box-sizing: border-box;
    transition: all ease-in-out 100ms;
}

html {
    height: -webkit-fill-available;
}

body, html {
    text-align: center;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;

    overflow-x: hidden;
    background-color: var(--background-color-one);
    color: var(--text-color);
    font-family: var(--body-font);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

i {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Font awesome animation delay removed */
.fas {
    transition: all ease-in-out 0ms;
}

/* Font awesome animation delay removed */
.fab {
    transition: all ease-in-out 0ms;
}

/* Theme */
.select-theme select {
    width: auto;
    padding: 0 35% 0 35%;
    background-color: var(--background-color-two);
}

/* --------------------------------------------- */
/* -------- BASE CSS --------------------------- */
/* --------------------------------------------- */
.container {
    overflow: hidden;
    font-size: var(--big-font-size);
}

.main-outer-container {
    max-width: 1250px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.main-inner-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-inner-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-inner-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-sections {
    margin: 0;
}

/* --------------------------------------------- */
/* -------- NAV BAR CSS ------------------------ */
/* --------------------------------------------- */
.nav-container {
    min-width: 20%;
    width: 20%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0;
}

.nav-container-border {
    margin: 5%;
    overflow: hidden;
    position: relative;
    height: 97%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container-logo {
    position: relative;
    width: 40%;
    margin-right: 40%;
    padding: 0;
}

.nav-container-profile-info {
    position: relative;
    margin-right: 15%;
}

.navigation {
    min-width: 100%;
    z-index: 100;
    position: relative;
    margin-top: 5%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    justify-content: space-around;
    font-weight: 600;
    text-align: left;
    padding: 0;
}

.nav-links li {
    padding: 5% 0;
}

.nav-links a {
    font-size: 120%;
    text-decoration: none;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    padding: 5% 5%;
    border-radius: 50px;
}

.nav-links a:hover {
    color: var(--hover-color);
    background-color: var(--hover-color-light);
}

.nav-active {
    color: var(--logo-color) !important;
}

.settings-btn {
    display: none;
}

@media screen and (max-width: 674px) {
    .navigation {
        position: fixed;
        min-height: 100vh;
        /* mobile viewport bug fix */
        min-height: -webkit-fill-available;

    }

    .nav-container {
        background-color: var(--background-color-two);
        overflow: hidden;
        position: absolute;
        left: -100vw;
    }

    .settings-btn {
        display: inherit;
    }

    .line {
        width: 30px;
        height: 4px;
        background: var(--text-color);
        margin: 5px;
        transition: all 0.5s;
    }

    .burger-menu {
        position: fixed;
        cursor: pointer;
        right: 5%;
        top: 4%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        top: 0;
        position: fixed;
        height: 100%;
        width: 100vw;
        flex-direction: column;
        right: -100vw;
        transition: all 0.4s ease-out;
        pointer-events: none;
        margin: 0;
        align-items: center;
    }

    .nav-links.open {
        pointer-events: all;
        padding: 0;
        background-color: var(--logo-color);
        color: var(--background-color-one);
        right: 0;
    }

    .nav-links a {
        font-size: 4vh;
        color: var(--nav-text-color) !important;
        font-weight: 900;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .nav-links a i {
        margin-right: 10px;
    }

    .nav-links li {
        opacity: 1;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .l1.active {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(10px) rotate(45deg);
    }

    .l2.active {
        opacity: 0;
    }

    .l3.active {
        -webkit-transform: translateY(10px) rotate(45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* --------------------------------------------- */
/* -------- HOME PAGE CSS ---------------------- */
/* --------------------------------------------- */
.changeable-content {
    width: 62%;
    height: auto;
    border-left: var(--section-border-color) 1px solid;
    border-right: var(--section-border-color) 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
}

.changeable-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.changeable-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.container-home {
    margin: 0;
    height: auto;
}

.container-home-container {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--text-color) 1px solid;
}

.container-home-title {
    margin: auto;
}

.section-optional {
    height: 100vh;
    min-width: 38%;
    width: 38%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section-optional-title {
    font-size: 140%;
    font-weight: 600;
    padding: 2%;
    width: 100%;
    border-bottom: var(--section-border-color) 1px solid;
    height: 10%;
}

.section-optional-show-more {
    width: 100%;
    height: 10%;
    border-top: var(--section-border-color) 1px solid;
    position: absolute;
    bottom: 0;
}

.section-optional-show-more:hover,
.section-optional-show-more:focus {
    background-color: var(--hover-color-light);
}

.section-optional-show-more a {
    padding: 5% 20%;
    color: var(--logo-color);
}

.section-optional-leaderboard {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.section-optional-topic-leaderboard {
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.section-optional-leaderboard a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--section-border-color) 1px solid;
}

.section-optional-topic-leaderboard a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--section-border-color) 1px solid;
}

.section-optional-topic-leaderboard a:hover,
.section-optional-topic-leaderboard a:focus {
    background-color: var(--hover-color-light);
}

.section-optional-leaderboard a:hover,
.section-optional-leaderboard a:focus {
    background-color: var(--hover-color-light);
}

.section-optional-leaderboard-outer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section-optional-leaderboard-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.section-optional-leaderboard a:last-child {
    border: none;
}

.section-optional-topic-leaderboard a:last-child {
    border: none;
}

.section-optional-leaderboard-users {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.leaderboard-page-overwrite {
    padding: 1% 0;
}

.section-optional-leaderboard-users:hover,
.section-optional-leaderboard-users:focus {
    /*color: var(--logo-color);*/
    /*font-weight: 900;*/
    transition: all ease-in-out 0ms;
}

.section-optional::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.section-optional {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.section-optional-one {
    position: relative;
    margin: 5% 5% 0 5%;
    height: 60%;
    max-height: 600px;
    border-radius: 25px;
    background-color: var(--background-color-two);
    overflow: hidden;
}

.section-optional-two {
    margin: 5% 5% 5% 5%;
    height: 60%;
    max-height: 600px;
    border-radius: 25px;
    background-color: var(--background-color-two);
}

.section-optional-three {
    margin: 5% 5% 5% 5%;
    height: auto;
    max-height: 100px;
    border-radius: 25px;
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.section-optional-three a {
    color: var(--input-desc-text-color);
}

.section-optional-three a:hover,
.section-optional-three a:focus {
    color: var(--logo-color);
}

@media screen and (max-width: 675px) {
    .section-optional {
        display: none;
    }

    .main-inner-container {
        width: 100vw;
    }

    .changeable-content {
        width: 100%;
        border: none;
    }
}

@media screen and (max-width: 1024px) {
    .section-optional {
        display: none;
    }

    .main-inner-container {
        width: 100vw;
    }

    .changeable-content {
        min-width: 70%;
        width: 100%;
    }

    .nav-container {
        min-width: 30%;
        width: 30%;
    }

    .nav-links {
        padding: 0;
        width: 100%;
    }

    .nav-links a {
        color: var(--text-color);
        font-weight: 900;
        width: 100%;
    }

    .nav-links a i {
        margin-right: 10px;
    }
}

/* --------------------------------------------- */
/* -------- LOGIN/REGISTER CSS ----------------- */
/* --------------------------------------------- */
.login {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    height: 80%;
    width: 100%;
}

.login-header {
    font-size: var(--big-font-size);
    font-weight: 900;
    color: var(--hover-color);
    margin: 5%;
}

.register {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.register-header {
    font-size: var(--big-font-size);
    font-weight: 900;
    color: var(--pink);
    margin: 5%;
}

select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    width: 308px;
    height: 35px;
    display: block;
    border-radius: 20px;
    background: var(--input-bg-color);
    border: none;
    outline: none;
    padding: 5px 20px;
    margin: auto auto 12px;
    color: var(--input-text-color);
}

@media screen and (max-width: 375px) {
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    input[type="number"],
    input[type="password"],
    select {
        width: 250px;
    }
}

select::placeholder,
input::placeholder {
    font-size: 14px;
    color: #999999;
    /*color: var(--input-text-color);*/
    font-weight: lighter;
}

select,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.form-btn {
    width: 268px;
    height: 35px;
    display: block;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 20px;
    margin: auto auto 12px;
    color: var(--text-color-btn);
    background: var(--logo-color);
    font-size: var(--body-font);
}

.form-btn:hover {
    cursor: pointer;
    background: var(--logo-color);
}

.form-text {
    color: var(--text-color);
}

.form-link {
    color: var(--hover-color) !important;
    text-decoration: none;
}

.message-box {
    color: #999999;
}

/* --------------------------------- */
/* ------- CSS REGISTER FORM ------- */
/* --------------------------------- */
#regForm {
    margin: 50px auto;
    min-width: 300px;
}

/* Mark input boxes that gets an error on validation */
input.invalid {
    background-color: #9f3d3d;
}

/* Hide all steps by default */
.tab {
    display: none;
}

button {
    background: var(--logo-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: rgb(94, 94, 94);
}

/* Make circles that indicate the steps of the form */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: var(--hover-color);
}

.register-terms-conditions {
    margin: 20px;
}

.register-terms-conditions a {
    color: var(--logo-color);
    cursor: pointer;
}

/* --------------------------------------------- */
/* -------- TOPICS SElECT ---------------------- */
/* --------------------------------------------- */
.select-topic {
    overflow-x: hidden;
    width: 100%;
}

.select-topic-header {
    margin-top: 8vh;
    font-size: var(--big-font-size);
}

/* --------------------------------- */
/* ------- CSS CHECKBOX ------------ */
/* --------------------------------- */
input[type="checkbox"] {
    opacity: 0;
}

input[type="checkbox"] + label {
    background-color: var(--hover-color-dark);
    padding: 5px 15px;
    border-radius: 20px;
    color: var(--white2);
}

input[type="checkbox"] + label:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: var(--logo-color);
    color: var(--text-color);
    transition: all .2s;
}

.topic-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5%;
    flex-wrap: wrap;
}

.errorlist {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    color: var(--logo-color);
}

.topicForm-following {
    background-color: var(--logo-color) !important;
}

input[type="checkbox"]:checked + label.topicForm-following {
    background-color: var(--hover-color-dark) !important;
    color: var(--white2);
}

.select-topic-update-msg {
    margin: 5% auto auto;
    width: 80%;
    padding: 2%;
    border-radius: 30px;
    background-color: var(--update-color);
    color: var(--text-color);
    font-size: 120%;
}

/* --------------------------------- */
/* ------- PROFILE PAGE ------------ */
/* --------------------------------- */
.profile {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
}

/* actual profile bit */
.profile-container {
    width: 100%;
    height: auto;
    /*background-color: var(--background-color-two);*/
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    top: 0;
}

.profile-section-one {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 4%;
    /*background-image: linear-gradient(var(--background-color-two) ,var(--background-color-one), var(--background-color-two))*/
}

.profile-section-one-pic {
    background-color: var(--background-color-two);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    overflow: hidden;
    border: var(--text-color) 1px solid;
}

.profile-section-one-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-section-one-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 1%;
}

.profile-section-one-buttons-btn {
    background-color: var(--background-color-two);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin: 2%;
    border-radius: 50px;
    overflow: hidden;
    width: 30%;
}

.profile-section-one-buttons-btn button {
    background-color: var(--background-color-two);
    width: 100%;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    padding: 20px 25px;
    color: var(--text-color);
}

.profile-section-one-buttons-btn button:hover,
.profile-section-one-buttons-btn button:focus {
    background-color: var(--logo-color) !important;
}

.friend-button-red {
    background-color: var(--logo-color) !important;
    color: var(--white3) !important;
}

button.btn-options #option2 {
    display: none;
}

button.btn-options:hover #option2 {
    display: inline;
}

button.btn-options:hover #option1 {
    display: none;
}

button.btn-options:hover:after #option1 {
    display: inline;
}

button.btn-options:hover:after #option2 {
    display: none;
}

.profile-feed {
    background-color: var(--background-color-two);
    border-radius: 30px;
    width: 90%;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ----- SECOND SECTION OF PROFILE --------*/
.profile-section-two {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 2.5%;
}

.profile-section-two-info {
    margin: 0 5% 0 5%;
}

.profile-section-two-fullname {
    font-weight: 800;
    font-size: 120%;
}

.profile-section-two-fullname span {
    font-weight: normal;
    font-size: 90%;
    float: right;
    border-radius: 20px;
    border: var(--text-color) 2px solid;
    padding: 2px 15px 2px 15px;
}

.profile-section-two-bio {
    font-size: 80%;
    margin-top: 2%;
}

.profile-section-two-username {
    margin-top: 0.5%;
    color: var(--input-desc-text-color);
    font-size: 80%;
}

.profile-section-two-details {
    display: inline-flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 2%;
    font-size: 80%;
}

.profile-section-two-details-item {
    margin: 0 2.5% 0 0;
    color: var(--input-desc-text-color);
}


/* activity part of the profile */
.profile-activity {
    width: 100%;
    border-top: var(--section-border-color) 1px solid;
    border-bottom: var(--section-border-color) 1px solid;
    padding: 10px;
}

.profile-activity span {
    color: var(--logo-color);
}

.profile-activity-container {
    margin: 5% 5% 0 5%;
    background-color: var(--background-color-two);
    padding: 2%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 532px) {
    .profile-section-one-buttons {
        font-size: 80%;
    }

    .profile-section-one-buttons-btn {
        margin: 2%;
    }

    .profile-section-one-buttons-btn button {
        margin: 0;
        /*padding: 10px;*/
        padding: 15px 5px;
    }
}

@media screen and (max-width: 375px) {
    .profile-section-one-buttons-btn {
        /*padding: 15px 5px;*/
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 50px;
        font-size: 85%;
    }

    .profile-section-one-buttons-btn button {
        padding: 15px 5px;
        margin: 0;
        padding: 5px;
    }
}

.friend-btn {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* --------------------------------- */
/* ------- EDIT PROFILE PAGE ------- */
/* --------------------------------- */
.edit_profile {
    margin: 5% auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit_profile-container {
    height: 90%;
    width: 100%;
}

.form-input-container {
    overflow: hidden;
    width: 308px;
    height: 55px;
    display: block;
    border-radius: 20px;
    background: var(--input-bg-color);
    border: none;
    outline: none;
    margin: auto auto 12px;
}

.form-input-container-image {
    overflow: hidden;
    width: 308px;
    height: 55px;
    display: block;
    border-radius: 20px;
    background: var(--input-bg-color);
    color: var(--background-color-one);
    border: none;
    outline: none;
    margin: auto auto 12px;
    position: relative;
}

.form-input-container-image::after {
    content: none !important;
    display: none !important;
}

.form-input-container-image a,
.form-input-container-image label {
    color: var(--background-color-one);
    display: none;
}

#id_profile_image {
    background-color: var(--input-bg-color);
    top: 5%;
    left: 5%;
    position: absolute;
    z-index: 10;
    height: 80%;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
}

#profile_image-clear_id {
    display: none;
}

.form-input-container:focus {
    box-shadow: 0 2px 10px var(--text-color);
}

.form-input-container select,
.form-input-container input[type="text"],
.form-input-container input[type="email"],
.form-input-container input[type="date"],
.form-input-container input[type="password"] {
    margin-top: 1px;
    border-radius: 0;
}

.form-input-container select,
.form-input-container input[type="text"]:focus,
.form-input-container input[type="email"]:focus,
.form-input-container input[type="date"]:focus,
.form-input-container input[type="password"]:focus {
    box-shadow: none;
}

.form-input-description {
    width: 100%;
    margin-left: 6%;
    margin-top: 2%;
    text-align: left;
    color: var(--input-desc-text-color);
    font-size: 10px;
}

#edit_profile-form {
    margin: 0 auto;
    min-width: 300px;
}

/* ------------------------------------------- */
/* ------------ FOLLOWING TOPICS ------------- */
/* ------------------------------------------- */
.base-profile {
    width: 100%;
    height: 100vh;
}

.base-profile-container {
    width: 100%;
    height: 100%;
}

.base-profile-header {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--section-border-color) 1px solid;
}

.base-profile-header-title {
    text-align: left;
}

.base-profile-header-title span {
    font-size: 80%;
    color: var(--logo-color);
}

.base-profile-btn {
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    border-radius: 50%;
}


.base-profile-btn:hover,
.base-profile-btn:focus {
    cursor: pointer;
    background-color: var(--hover-color-light);
}

.following-topics-list-item {
    padding: 5px;
    border-bottom: var(--text-color) 1px solid;
}

.following-topics-list-item-container {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.following-topics-list-item-container a {
    float: right;
    background-color: var(--logo-color);
    padding: 5px 10px;
    border-radius: 20px;
    transform: translateY(-5px);
    color: var(--white);
}

.following-topics-list-item-container a:hover,
.following-topics-list-item-container a:focus {
    background-color: var(--hover-color-dark);
    /*color: var(--logo-color);*/
}

/* ------------------------------------------- */
/* ------------- FRIENDS LIST --------------- */
/* ------------------------------------------- */

.profile-friends-list {
    width: 100%;
    text-align: left;
}

.profile-friends-item-container {
    width: 100%;
    border-bottom: var(--text-color) 1px solid;
}

.profile-friends-item {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile-friends-item span {
    float: right;
    background-color: var(--logo-color);
    padding: 5px 10px;
    border-radius: 20px;
    transform: translateY(-5px);
}

.profile-friends-item span a {
    color: var(--white3) !important;
}

.profile-friends-item span a:hover {
    color: var(--dark-grey) !important;
}

.profile-friends-item span:hover {
    background-color: var(--text-color);
}

/* ------------------------------------------- */
/* ---------------- POST --------------------- */
/* ------------------------------------------- */
.post-btn-li {
    padding-top: 16% !important;
}

.post-btn-mobile {
    position: fixed !important;
    top: 80vh;
    right: 5vw;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    display: none;
}

.post-btn-mobile i {
    color: var(--white3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
}

@media screen and (max-width: 674px) {
    .post-btn-li {
        padding-top: 0% !important;
    }

    .post-btn-mobile {
        display: inherit;
    }
}

.post-btn {
    width: 100% !important;
    padding: 5% 35% 5% 35% !important;
    background-color: var(--logo-color);
    color: var(--white2) !important;
}

.post-btn:hover,
.post-btn:focus {
    background-color: var(--hover-color) !important;
}

@media screen and (max-width: 674px) {
    .post-btn {
        /*background-color: var(--text-color);*/
        background-color: var(--nav-text-color) !important;
        color: var(--logo-color) !important;
        width: 70% !important;
    }

    .post-btn:hover,
    .post-btn:focus {
        background-color: var(--text-color) !important;
    }

    .post-btn-li a {
        color: var(--logo-color) !important;
    }
}

/* ------------------------------------------- */
/* ---------------- FEED --------------------- */
/* ------------------------------------------- */
.feed-header {
    height: 8%;
    width: 100%;
    border-bottom: var(--section-border-color) solid 1px;
}

.feed-header-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-search-bar {
    margin: 0 auto 0 auto;
    width: 90%;
    height: 70%;
    background-color: var(--background-color-two);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-post {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: var(--section-border-color) 1px solid;
}

.feed-post-container {
    width: 90%;
    margin: 5% auto;
}

.feed-post-author-info {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--background-color-two);
    border-radius: 50px;
    border: var(--background-color-two) 2px solid;
    overflow: visible;
}

.feed-post-author-info span:nth-child(1) {
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.feed-post-author-info span:nth-child(2) {
    padding: 10px 20px;
    border-radius: 20px;
}

.feed-post-author-info span:nth-child(2) a:hover {
    color: var(--logo-color);
}

.feed-post-author-img {
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: var(--background-color-two) 2px solid;
}

.feed-post-author-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feed-post-content {
    margin-top: 4%;
    overflow: hidden;
}

.feed-post-content-text {
    text-align: left;
    margin: 0 15%;
}

.feed-post-content-text-desc {
    margin-top: 5px;
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.feed-post-content-attachment {
    margin: 5% auto;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
    overflow: hidden;
}

.feed-post-content-date {
    float: right;
    margin-right: 5%;
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.article-title:hover,
.article-title:focus {
    color: var(--logo-color);
}

/* DROP DOWN MENU BUTTON */
.feed-post-author-info-action {
    margin-left: auto;
    background-color: transparent !important;
    border-radius: 50%;
    position: relative;
}

.feed-post-author-info-action:hover,
.feed-post-author-info-action:focus {
    background-color: var(--hover-color-light) !important;
    cursor: pointer;
}

button.post-dropdown {
    padding: 10px !important;
    background-color: transparent !important;
}

/* DROP DOWN */
.post-dropdown-content {
    display: none;
    position: absolute;
    right: 1%;
    top: 0;
    padding: 0px;
    font-size: 120%;
    width: auto;
    min-width: 200px;
    white-space: nowrap;
    background: var(--background-color-one);
    overflow: auto;
    z-index: 1;
    border: var(--section-border-color) 1px solid;
    /* border-radius: 5px; */
}

.post-dropdown-content a {
    color: var(--text-color);
    padding: 4% 8%;
    display: block;
}

.post-dropdown-content a:hover,
.post-dropdown-content a:focus {
    background: var(--logo-color);
    color: var(--text-color);
}


.show {
    display: block;
}

.post-report-btn {
    height: 100%;
    width: 100%;
    background-color: var(--background-color-one) !important;
}

.post-report-btn:hover,
.post-report-btn:focus {
    background-color: var(--logo-color) !important;
}

.feed-more-btn {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed-more-btn a {
    width: 100%;
    height: 100%;
    padding: 3%;
    align-items: center;
    font-size: 120%;
    font-weight: 600;
}

.feed-more-btn a:hover {
    background-color: var(--hover-color-light);
}

/* ------------------------------------------- */
/* ------------ POST EDIT / DELETE ----------- */
/* ------------------------------------------- */
.post-edit-header {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--section-border-color) 1px solid;
}

.feed-post-detailed {
    border: none !important;
    margin-bottom: 5%;
    margin-top: 5%;
}

.feed-post-btn {
    background-color: var(--background-color-two);
    padding: 3% 8%;
    text-align: center;
    border-radius: 30px;
    margin: 5%;
    border: var(--section-border-color) 1px solid;
}

.feed-post-btn:hover,
.feed-post-btn:focus {
    background-color: var(--logo-color) !important;
}

.post-form-edit {
    margin: 5% 0 5% 0;
}

.post-vote-date-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-vote-section {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.feed-post-content-date {
    margin-left: auto;
}

.post-vote-section a {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--input-desc-text-color);
}

.post-vote-section a i {
    margin: 0 10%;
}

.post-down-voted {
    color: var(--logo-color);
}

.post-up-voted {
    color: var(--logo-color);
}

.post-reacted {
    color: var(--logo-color);
}

/* Comment section */
.post-comments-container {
    background-color: var(--background-color-two);
    width: 90%;
    border-radius: 30px;
    margin: 0 auto;
}

.post-comments-container-inner {
    padding: 5% 0;
}

.post-comments-input-container {
    display: flex;
    flex-direction: row;
}

.post-comment-input {
    width: 75% !important;
    align-items: flex-start;
}

.post-comments {
    margin: 1% 5%;
    color: var(--text-color);
    text-align: left;
}

.post-comment-post-btn {
    height: 30px;
    width: 15%;
    margin-right: 5%;
    padding: 0;
    border-radius: 20px;
    color: var(--white);
}

.post-comment-date {
    font-size: 90%;
    float: right;
    color: var(--input-desc-text-color);
}

/* ------------------------------------------- */
/* -------------- NOTIFICATIONS -------------- */
/* ------------------------------------------- */
.notification-nav-icon {
    position: relative;
}
 
.notification-nav-icon span {
    font-family: monospace;
    color: var(--white);
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    font-size: 100%;
    top: -45%;
    left: -45%;
    width: 28px;
    height: 16px;
    background-color: var(--logo-color);
    text-align: center;
    align-items: center;
    padding-bottom: 2px;
}

@media screen and (max-width: 673px) {
    .notification-nav-icon span {
        display: none;
    }
}

.notifications-container {
    display: flex;
    flex-direction: column;
}

.notifications-container-item {
    border-bottom: var(--section-border-color) 1px solid;
    width: 100%;
}

.notifications-container-item:hover,
.notifications-container-item:focus {
    background-color: var(--background-color-two);
}

.notifications-container-item-none:hover,
.notifications-container-item-none:focus {
    background-color: transparent !important;
}

.notifications-container-item-container {
    margin: 2%;
    display: flex;
    align-items: center;
}

.notifications-container-item-container a {
    margin-left: 5%;
    text-align: left;
    padding: 10px;
}

.notifications-container-item-container a span {
    color: var(--logo-color);
    font-size: 90%;
}

.notifications-container-item-container-time {
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.leaderboard-pic {
    height: 50px !important;
    width: 50px !important
}

.notifications-request-img {
    overflow: hidden;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: var(--background-color-two) 2px solid;
}

.notifications-request-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ------------------------------------------- */
/* ----------------- SEARCH ------------------ */
/* ------------------------------------------- */
.search-header {
    border-bottom: none !important;
}

.search-back-btn {
    margin-left: 5%;
    margin-right: 0;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
}

.search-back-btn:hover,
.search-back-btn:focus {
    cursor: pointer;
    background-color: var(--hover-color-light);
}

.search-form {
    width: 100%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.explore-header {
    width: 100%;
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.explore-back-btn {
    margin-left: 5%;
    margin-right: 0;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
}

.explore-back-btn:hover,
.explore-back-btn:focus {
    cursor: pointer;
    background-color: var(--hover-color-light);
}

.field {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.search-form-input input {
    height: 100% !important;
    margin: 0 !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    width: 360px;
}

@media screen and (max-width: 425px) {
    .search-form-input input {
        width: 290px;
    }
}

.search-form-btn {
    border-radius: 30px !important;
    color: var(--white) !important;
    display: none;
}

.form-btn-second {
    background-color:var(--background-color-one) !important;
    border: var(--section-border-color) 1px solid;
    color: var(--text-color) !important;
}

.form-btn-second:hover {
    background-color: var(--logo-color) !important;
}
/*++++++++++++*/
.search-form-options li.is-active {
    color: var(--logo-color);
}

.search-tabs {
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.is-active {
    display: block;
}

.search-form-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 !important;
}

.btn-group {
    width: 100%;
    text-align: center;
    border-bottom: var(--section-border-color) 1px solid;
}

.btn-group a {
    width: 100%;
}

.btn-group a.active {
    color: var(--logo-color);
}

.btn-group.active {
    color: var(--logo-color);
    border-bottom: var(--logo-color) 2px solid;
}

/*=======*/
.search-profile-container a {
    border: var(--section-border-color) 1px solid;
    margin: 2% auto;
    width: 80%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-profile-container a:hover {
    background-color: var(--hover-color-light);
}

.search-profile-container-name {
    margin-left: auto;
    margin-right: 5%;
}

.search-post-container {
    margin: 2% auto;
    width: 80%;
    border: var(--section-border-color) 1px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.search-post-title:hover {
    color: var(--logo-color);
}

.search-post-content {
    color: var(--input-desc-text-color);
}

.search-post-img {
    border-radius: 30px;
    /*width: 95%;*/
    /*margin-bottom: 2%;*/
}

@media screen and (max-width: 425px) {
    .search-back-btn {
        display: none;
    }
}

/* ------------------------------------------- */
/* -------------- LEADERBOARD ---------------- */
/* ------------------------------------------- */
.header-title{
    margin-left: 5%;
    font-size: 130%;
    padding: 1% 0;
    color: var(--logo-color);
}

.leaderboard-page-container {
    border: var(--section-border-color) 1px solid;
    border-radius: 30px;
    width: 90%;
    margin: 5% auto;
}

.leaderboard-page-container a {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: var(--section-border-color) 1px solid;
}

.leaderboard-page-container a:hover,
.leaderboard-page-container a:focus {
    background-color: var(--hover-color-light);
}

.leaderboard-page-container a:last-child {
    border: none;
}
/* ------------------------------------------- */
/* --------------- TAG ATTACH ---------------- */
/* ------------------------------------------- */
.feed-post-content-tags {
    margin: 3% 0;
}

.feed-post-content-tags a {
    color: var(--input-desc-text-color);
    font-size: 90%;
}

.feed-post-content-tags a:hover{
    color: var(--logo-color);
}

.feed-post-add-tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed-post-add-tags-title {
    padding: 1%;
    margin: 2% 0;
    background-color: var(--background-color-two);
    border-radius: 30px;
}

.feed-post-tag-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.feed-post-tag-choice {
    margin: 2% 0;
}

.delete-tag {
    padding: 1%;
    background-color: var(--logo-color);
    border-radius: 30px;
    margin: 1%;
    color: var(--white);
}

.delete-tag:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.back-finish-btn-div {
    position: relative;
    height: auto;
    margin: 10% 0;
}

/* health tracker */
.health-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.health-container {
    background-color: var(--background-color-two);
    width: 100%;
    height: auto;
    margin-top: 5%;
    border-radius: 50px;
}

.health-container-header {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 1% auto;
    justify-content: center;
    color: var(--logo-color);
}

.health-container-header span {
    margin-left: 20px;
}

.health-detail-container {
    margin-bottom: 1%;
    font-weight: 800;
}

.health-detail-container a span {
    color: var(--input-desc-text-color);
    font-weight: 500;
}

.health-sleep-container {
}

.health-steps-container {
}

.health-water-container {
}

.health-container-form {
    background-color: var(--background-color-two);
    width: 100%;
    height: auto;
    margin-top: 5%;
    border-radius: 50px;
    margin-bottom: 5%;
}

.health-container-form-container {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.health-container-form-title {
    color: var(--logo-color);
    font-size: 120%;
}

.health-container-form-container-double {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.health-container-form-container input {
    background-color: var(--background-color-one) !important;
    color: var(--text-color);
}

.health-container-form-container-double input {
    background-color: var(--background-color-one) !important;
    color: var(--text-color);
    text-align: center;
}

.health-container-form-btn {
    margin-bottom: 5% !important;
}

/* --------------------------------------------- */
/* ----------- Settings ------------------------ */
/* --------------------------------------------- */
.select-theme-settings select {
    background-color: var(--background-color-two);
    width: 268px !important;
    padding: 0 10% !important;
    background-color: var(--background-color-two);
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.settings-label {
    padding: 2%;
}

select.select-theme-input {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}