<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Stugether is an all in one app to bring students together">
    <meta name="keywords" content="exeter, students, social, stugether">
    <link href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
     {% if title %}
         <title>{{ title }}</title>
    {% else %}
        <title>Stugether</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/terms_privacy_cookies.min.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body class="theme-dark">
    <div class="main-outer-container">
        <div class="terms-container">
            <div class="terms-title-container">
                <div class="terms-title">Privacy Policy</div>
                <div class="terms-title-bold">Privacy Policy</div>
                <div class="terms-title">Privacy Policy</div>
                <div class="terms-title">Privacy Policy</div>
            </div>

            <div class="terms-info-container">
                <div class="terms-info">
                    <div>We believe you should know what data we collect from you and how we use it, and that you should have control over both.<div class="terms-download-btn"><a target="_blank" href="{% static 'pdf/stugether_privacy_policy.pdf' %}">Download PDF</a></div></div>
                    <br>
                    <br>
                    <hr>
                    <h2>PRIVACY POLICY</h2>
                    Thank you for choosing to be part of our community. We are committed to protecting your personal information and your right to privacy. If you have any questions, please contact one of the founders at their Exeter university emails.
                    <br>
                    <br>
                    When you visit the Site “Stugether”, and more generally, use any of our services, we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. If you do not agree with this policy, please discontinue from using our services immediately.
                    <br>
                    <br>
                    This privacy notice applies to all information collected through our services.
                    <br>
                    <br>
                    <span style="font-weight: 900;">Please read this document very carefully, it is important.</span>
                    <br>
                    <br>
                    <h2>TABLE OF CONTENTS</h2>
                    <div>
                        <li >WHAT INFORMATION DO WE COLLECT?</li>
                        <li>HOW DO WE USE YOUR INFORMATION?</li>
                        <li>WILL YOUR INFORMATION BE SHARED WITH ANYONE?</li>
                        <li>HOW LONG DO WE KEEP YOUR INFORMATION?</li>
                        <li>HOW DO WE KEEP YOUR INFORMATION SAFE?</li>
                        <li>DO WE COLLECT INFORMATION FROM MINORS?</li>
                        <li>WHAT ARE YOUR PRIVACY RIGHTS?</li>
                        <li>DO WE MAKE UPDATES TO THIS NOTICE?</li>
                        <li>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</li>
                        <li>HOW CAN YOU REVIEW UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?</li>
                    </div>
                    <br>
                    <hr>
                    <h2>WHAT INFORMATION DO WE COLLECT?</h2>
                    <span style="font-weight: 900;">Personal information you disclose to us</span>
                    <br>
                    <br>
                    We collect personal information that you voluntarily provide to us when you register with us and when you participate in activities on the Site (such as posting on the feed and commenting, voting).
                    <br>
                    <br>
                    The personal information that we collect depends on the context of your interactions with us and the Site. The personal information we collect may include the following:                    <br>
                    <br>
                    <br>
                    <span style="font-weight: 900;">Personal Information Provided by You.</span> We collect names, emails, usernames, interests, files and other similar information.
                    <br>
                    <br>
                    All information that you provide must be true, complete and accurate.
                    <br>
                    <br>
                    <hr>
                    <h2>HOW DO WE USE YOUR INFORMATION?</h2>
                    We use the information we collect or receive:
                    <br>
                    <br>
                    <li>To facilitate account creation and logon process</li>
                    <li>To post testimonials</li>
                    <li>Request Feedback</li>
                    <li>To enable user-to-user communications</li>
                    <li>To manage user accounts</li>
                    <li>To send administrative information to you</li>
                    <li>To protect our services</li>
                    <li>To enforce our terms, conditions and policies</li>
                    <li>To respond to legal requests and prevent harm</li>
                    <br>
                    <hr>
                    <h2>WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h2>
                    We may only process or share your data that we hold if we are obligated by law to do so. For instance, if you are being investigated for a crime, we reserve the right to let your data be known to the authorities.
                    <br>
                    <br>
                    <span style="font-weight: 900;">In any other case, your data is strictly confidential.</span>
                    <br>
                    <br>
                    <h2>HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
                    We keep your personal information as long as you have an account with us, once deleted, we will cease to keep your information.
                    However, if we are legally required to keep or delete your information for any reason, we will do so.
                    <br>
                    <br>
                    <hr>
                    <h2>HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
                    We keep all your data in a secure SQL database, implemented with SQLite. Only an admin with a password may access it. We have implemented appropriate techniques to keep your data safe. However, despite our efforts, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers and cybercriminals will not be able to defeat our security.
                    <br>
                    <br>
                    <h2>DO WE COLLECT INFORMATION FROM MINORS?</h2>
                    We do not knowingly solicit data from or market to children under 18 years of age. By using the Site, you must be over 18 or be the child or being guarded by any individual over 18 using the site, with their permission, with their credentials.
                    <br>
                    <br>
                    <h2>WHAT ARE YOUR PRIVACY RIGHTS?</h2>
                    You may review, change, or terminate your account at any time.
                    To do this you must either visit your profile, edit your profile or delete it from within the Site.
                    <br>
                    <br>
                    <h2>DO WE MAKE UPDATES TO THIS NOTICE?</h2>
                    Yes, and we will warn you if we do so.
                    <br>
                    <br>
                    <hr>
                    <h2>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
                    If you have any questions or comment about this notice, you may email us at
                    <br>
                    contact@stugether.com or by post to:
                    <br>
                    <br>
                    Stugether
                    <br>
                    University of Exeter
                    <br>
                    Exeter, Devon EX4 4PY
                    <br>
                    United Kingdom
                    <br>
                    <br>
                    <hr>
                    <h2>HOW CAN YOU REVIEW UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?</h2>
                    Based on the applicable law of the land, you may have the right to request access to the personal information we collect from you, change it or delete it in some circumstances. To request to review, update or delta your personal information, please contact us, we will respond within 30 days.
                </div>
            </div>
        </div>
    </div>
     <div class="terms-footer">
        <div class="terms-footer-container">
            <div>Stugether © 2021</div>
            <div><a href="{% url 'home' %}">Stugether application</a></div>
            <div><a href="{% url 'terms-and-conditions' %}">Terms and conditions</a></div>
        </div>
    </div>
</body>