{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="register">
    <div class="register-container">
        <div class="register-header">Register </div>

        <!-- USER REGISTER FORM -->
        <form method="POST" id="regForm" action="">
          {% csrf_token %}

          <div class="tab">
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.username }}
            {{ form.password1 }}
            {{ form.password2 }}
          </div>

          <div class="tab">
            {{ form.email }}
            {{ form.institution }}
            {{ form.field_of_study }}
            {{ form.date_of_birth }}
            {{ form.type }}

            <div class="register-terms-conditions">
              By signing up, you agree to our <a target="_blank" href="{% url 'privacy-policy' %}">Privacy Policy</a>
                and <a target="_blank" href="{% url 'terms-and-conditions' %}">Terms and Conditions</a>.
            </div>
          </div>

          <div style="overflow:auto;">
            <div style="float:none;">
                <button class="form-btn" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                <button class="form-btn" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            </div>
          </div>

          <!-- ERROR MESSAGES -->
          {{ form.errors }}
          <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
          </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'js/registerForm.js' %}"></script>
{% endblock %}